<% content_for :head do %>
  <title>Enviar Mensagem</title>
<% end %>
<nav class="nav-signup">
  <%= image_tag 'LOGO', class: 'logo'  %>
  <h1>Chat</h1>
</nav>
<div class="chat-wrapper">
  <h1>Chat de Doação</h1>
  <h5>Você está falando com: ONG <%= @ong.nome_fantasia %>, em  <%= @ong.cidade %></h5>
  <% @messages&.each do |message| %>
    <div class="message-wrapper">
      <% if message.origin.present? %>
        <p class="name"> <%= message.origin %></p>
      <% end %>
      <p class="description"> <%= message.text %></p>
      <p class="date"> <%= message.created_at.to_formatted_s(:short) %> </p>
    </div>
  <% end %>
  
  <%= form_with(model: message, local: true, url: create_message_path) do |form| %>
    <div id="more-details-wrapper">
      <div class="field">
        <%= form.text_area :text, id:'ong-description', placeholder:'Envie sua Mensagem'%>
      </div>
    </div>
    <%= form.submit 'Enviar', id:'submit-button' %>
    <%= link_to 'Voltar', root_path %>
  <% end %>
</div>