<%= form_with(model: doacao, local: true) do |form| %>

<title>Cadastro de Necessidade</title>
  </head>
  <body>
    <nav class="nav-signup">
      <%= image_tag 'LOGO', class: 'logo'  %>
      <h1>CADASTRO DE NECESSIDADE</h1>
    </nav>
    <div class="form-wrapper">
          <div id="data-wrapper">
            <div class="field need">
              <label for="donor-name">Item</label>
              <%= form.text_field :item, id:'donor-name', placeholder: 'Insira o nome do Item' %>
            </div>
            <div class="field need">
              <label>Status</label>
                <select name="doacao[status]">
                  <option value="open">Aberto</option>
                  <option value="closed">Fechado</option>
                </select>
            </div>
            <div class="field need">
              <label>Observações</label>
              <%= form.text_area :obs, id:'ong-description', placeholder: 'Descreva alguma observação sobre essa necessidade.'%>
            </div>
          </div>
          <button type="submit" id="submit-button">CADASTRAR</button>
        </div>
    </div>
<% end %>
<%= render 'layouts/footer' %>