<%= form_with(model: doacao, local: true) do |form| %>
  <% if doacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doacao.errors.count, "error") %> prohibited this doacao from being saved:</h2>

      <ul>
      <% doacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<title>Cadastro de Necessidade</title>
  </head>
  <body>
    <nav class="nav-signup">
      <%= image_tag 'LOGO', class: 'logo'  %>
      <h1>CADASTRO DE NECESSIDADE</h1>
    </nav>
    <div class="form-wrapper">
      <form>
          <div id="data-wrapper">
            <div class="field need">
              <label for="donor-name">Item</label>
              <%= form.text_field :item, id:'donor-name', placeholder: 'Insira o nome do Item' %>
            </div>
            <div class="field need">
              <label>Status</label>
              <%= form.text_field :status, placeholder: 'Aberta ou Fechada' %>
            </div>
            <div class="field need">
              <label>Observações</label>
              <%= form.text_area :obs, id:'ong-description', placeholder: 'Descreva alguma observação sobre essa necessidade.'%>
            </div>
          </div>
          <button type="submit" id="submit-button">CADASTRAR</button>
        </div>
      </form>
    </div>
    <% end %>
    <%= render 'layouts/footer' %>