<%= form_with(model: doacao, local: true) do |form| %>
  <% if doacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doacao.errors.count, "error") %> prohibited this doacao from being saved:</h2>

      <ul>
      <% doacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
 <center>
  <div class="card" style="width: 35rem;">
  <div class="card-header">
  <h5 class="card-title">Cadastro da Doação!</h5>
<form>
  <div class="form-group" style="text-align: left;">
    <%= form.label :item %>
    <%= form.text_field :item, class: 'form-control' %>
  </div>

  <div class="form-group" style="text-align: left;">
    <%= form.label :status %>
    <%= form.text_field :status, class: 'form-control'%>
  </div>

  <div class="form-group" style="text-align: left;">
    <%= form.label :observação %>
    <%= form.text_area :obs, class: 'form-control' %>
  </div>
  <div class="submit" style="color: #7A00BA">
    <%= form.submit 'CADASTRAR' %>
  </div>

</center>
  <% end %>
</form>
</div>
</div>
