<p id="notice"><%= notice %></p>

<h1>Doacoes</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Status</th>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doacoes.each do |doacao| %>
      <tr>
        <td><%= doacao.item %></td>
        <td><%= doacao.status %></td>
        <td><%= doacao.obs %></td>
        <td><%= link_to 'Show', doacao %></td>
        <td><%= link_to 'Edit', edit_doacao_path(doacao) %></td>
        <td><%= link_to 'Destroy', doacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doacao', new_doacao_path %>
