<div class="first-wrapper">
  <div class="logo-wrapper">
    <%= image_tag 'LOGO', class: 'logo'  %>
  </div>
  <div class="header-wrapper">
    <%= render 'layouts/nav' %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f| %>
    <div class="login-wrapper">
      <h1>LOGIN NO SISTEMA</h1>
      <div class="field">
        <label>EMAIL DE ACESSO</label>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <label>SENHA</label>
        <%= f.password_field :password, autocomplete: "off", id: 'password' %>
      </div>          
      <div class="buttons-wrapper">
        <%= f.submit "ENTRAR", class: "signin-button" %>
        <a class="forgot-password">ESQUECEU A SENHA?</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
<%= render 'layouts/footer' %>

