<nav class="nav-signup">
  <%= image_tag 'LOGO', class: 'logo'  %>
  <h1>CADASTRO DE ONG</h1>
</nav>
<%= form_with(model: ong, local: true) do |form| %>
  <% if ong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ong.errors.count, "error") %> prohibited this ong from being saved:</h2>

      <ul>
      <% ong.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-wrapper">
        <div id="first-part">
          <div id="photo-wrapper">
            <h1 class="title"> Dados Gerais </h1>
            <label for="photo-upload" id="photo-upload-label">
              <%= image_tag 'photo' %>
              <span> Upload Photo </span>
            </label>
            <%= form.file_field :image, id:'photo-upload' %>
          </div>
          <div id="data-wrapper">
            <div class="field">
              <label for="ong-name">Nome da ONG</label>
              <%= form.text_field :nome_fantasia, id:'ong-name', placeholder:'Insira o nome da ONG'%>
            </div>
            <div class="field">
              <label>Email do Responsável</label>
              <%= form.email_field :email, autofocus: true, placeholder:'Insira o seu e-mail'%>
            </div>
            <div class="field">
              <label>CNPJ</label>
              <%= form.text_field :cnpj, placeholder:'Insira o seu CNPJ'%>
            </div>
            <div class="field">
              <label>Razão Social</label>
              <%= form.text_field :razao_social, placeholder:'Insira a sua razão social'%>
            </div>
          </div>
        </div>
        <div id="second-part">
          <h1 class="title">Dados de Localização</h1>
          <div id="location-wrapper">
            <div class="field">
              <label>CEP</label>
              <%= form.text_field :cep, placeholder:'Insira o seu CEP'%>
            </div>
            <div class="field">
              <label for="">Cidade</label>
              <%= form.text_field :cidade,  placeholder:'Insira a sua Cidade'%>
            </div>
            <div class="field">
              <label>Estado</label>
              <%= form.text_field :uf, placeholder:'Insira o seu Estado'%>
            </div>
            <div class="field">
              <label>Bairro</label>
              <%= form.text_field :bairro, placeholder:'Insira o seu Bairro'%>
            </div>
            <div class="field">
              <label>Número</label>
              <%= form.text_field :numero, placeholder:'Insira o seu Número'%>
            </div>
            <div class="field">
              <label>Endereço</label>
              <%= form.text_field :endereco, placeholder:'Insira o seu Endereço'%>
            </div>
          </div>
          <hr class="divisor" />
          <h1 class="title">Mais Detalhes sobre a ONG</h1>
          <div id="more-details-wrapper">
            <div class="field">
              <label>Biografia da Ong</label>
              <%= form.text_area :bio, id:'ong-description', placeholder:'Faça uma apresentação sobre a ONG'%>
            </div>
          </div>
          <hr class="divisor" />
          <h1 class="title">Dados de Acesso</h1>
          <div id="password-wrapper">
            <div class="field">
              <label>Escolha uma Senha</label>
              <%= form.password_field :password, autocomplete: "off", placeholder:'Mínimo de 6 caracteres'%>
            </div>
            <div class="field">
              <label>Repita a Senha</label>
              <%= form.password_field :password_confirmation, autocomplete: "off", placeholder:'Mínimo de 6 caracteres'%>
            </div>
          </div>
          <%= form.submit 'CADASTRAR', id:'submit-button' %>
        </div>
    </div>
<% end %>
<%= render 'layouts/footer' %>
