<p id="notice"><%= notice %></p>
<center>
<h2>Ongs cadastradas na nossa plataforma</h2>
   <div class="row">
    <% @ongs.each do |ong| %>
    <div class="col-sm">
    <div class="card" style="width: 18rem;">
       <div class="card-body">
        <h5 class="card-title"> <%= ong.nome_fantasia %></h5>
        <p class="card-text"><%= ong.bio %></p>
        </div>
      </div>
        <td><%= link_to 'Show', ong %></td>
        <td><%= link_to 'Edit', edit_ong_path(ong) %></td>
        <td><%= link_to 'Destroy', ong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</center>


