<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @ong.cnpj %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @ong.razao_social %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @ong.nome_fantasia %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @ong.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @ong.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @ong.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @ong.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @ong.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @ong.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @ong.telefone %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @ong.bio %>
</p>

<p>
  <strong>User:</strong>
  <%= @ong.user %>
</p>

<%= link_to 'Edit', edit_ong_path(@ong) %> |
<%= link_to 'Back', ongs_path %>
