<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @doador.nome %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @doador.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @doador.cpf %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @doador.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @doador.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @doador.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @doador.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @doador.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @doador.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @doador.telefone %>
</p>

<p>
  <strong>User:</strong>
  <%= @doador.user %>
</p>

<%= link_to 'Edit', edit_doador_path(@doador) %> |
<%= link_to 'Back', doadores_path %>
