<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a href="" target="_blank">INSTITUIÇÕES</a>
    <a href="" target="_blank">NECESSIDADES</a>
    <% if user_signed_in? %>
    <% if current_user.tipo == 'ong' %>
    <a><%= link_to "Nova Doação", new_doacao_path %></a>
    <a><%= link_to 'Minha Conta', edit_user_registration_path  %></a>
    <a><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></a>
    <% else %>
    <a><%= link_to 'Minha Conta', edit_user_registration_path  %></a>
    <a><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></a>
    <% end %>
    <% else %>
    <a href="" class="signup" target="_blank">CADASTRE-SE</a>
    <a> <%= link_to 'LOGIN', new_user_session_path %> </a> 
    <% end %>  
  </div>
</div>