<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="nav-links">
    <a href="#necessidades" >NECESSIDADES</a>
    <% if user_signed_in? %>
    <% if current_user.tipo == 'ong' %>
    <%= link_to "NOVA DOAÇÃO", new_doacao_path %>
    <%= link_to "MENSAGENS", messages_ong_path %>
    <%= link_to 'MINHA CONTA', edit_user_registration_path  %>
    <%= link_to 'SAIR', destroy_user_session_path, :method => :delete %>
    <% else %>
    <%= link_to "MENSAGENS", messages_path %>
    <%= link_to 'MINHA CONTA', edit_user_registration_path  %>
    <%= link_to 'SAIR', destroy_user_session_path, :method => :delete %>
    <% end %>
    <% else %>
    <a href="#cadastro" class="signup">CADASTRE-SE</a>
    <%= link_to 'LOGIN', new_user_session_path %>
    <% end %>  
  </div>
</div>
