
<div class="first-wrapper">
  <div class="logo-wrapper">
    <%= image_tag 'LOGO', class: 'logo'  %>
  </div>
  <div class="header-wrapper">
    <%= render 'layouts/nav' %>
      
<div class="conta">
  <h2>Minha Conta</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
    <%= devise_error_messages! %>
    <div>
      <label> <%= f.label :email %><br /> </label>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div>
      <label> <%= f.label :nova_senha %></label>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label :repita_senha %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div >
      <label> <%= f.label :senha_atual %> </label>
      <%= f.password_field :current_password, autocomplete: "off"%>
    </div>

    <%= f.submit "Atualizar", id:'submit-button' %>
  <% end %>

  <%= button_to "Cancelar Conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id:'submit-button' %>
</div>

</div>
</div>
<%= render 'layouts/footer' %>